<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jiyun.mapper.StuMapper">
<resultMap id="query" type="Stu" >
	<id column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="sex" property="sex"/>
	<result column="pic" property="pic"/>
	<result column="sr" property="sr"/>
	<result column="cid" property="cid"/>
	<association property="clazz" javaType="Clazz">
	<id column="cid" property="cid"/>
	<result column="cname" property="cname"/>
</association>
</resultMap>
	<select id="findAll" resultMap="query">
		select * from `stu` a,`class`b
		<where>
		and a.cid = b.cid
		</where>
	</select>
</mapper>