<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jiyun.mapper.UserMapper">
	<select id="findUsernameAndPassword" parameterType="user" resultType="user">
	
		select * from user where username=#{username} and password=#{password}
	
	</select>
	<select id="findUsername" parameterType="string" resultType="user">
	
		select * from user where username=#{username}
	
	</select>
	<insert id="add" parameterType="user" useGeneratedKeys="true" keyProperty="uid">
	
		insert into user values(null,#{username},#{password})
	</insert>
	
</mapper>